# IDE settings
.idea/
.vscode/
*.user
*.suo

# Build directories
build/
cmake-build-*/
out/
/Debug/
/Release/
/x64/
/x86/

# Visual Studio / compiler output
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# macOS
.DS_Store
/.vs/Projekt/CopilotIndices/18.7.1225.11805
/.vs/Projekt.slnx/copilot-chat/31ee7806/sessions
/.vs/Projekt.slnx/FileContentIndex
